*.ide
*.dll
*.mdb
*.log
*.ide
*.ide-shm
*.ide-wal
*.csproj
*.pdb
*.cache
*.sln
*.meta
NGUI_Endless_Demo/.vs/
NGUI_Endless_Demo/.vs/
NGUI_Endless_Demo/.vs/

NGUI_Endless_Demo/Library/metadata/
NGUI_Endless_Demo/Temp/
NGUI_Endless_Demo/Obj/

New Unity Project/.vs/New Unity Project/v15/Server/
New Unity Project/Library/metadata/
New Unity Project/Library/
New Unity Project/.vs/
New Unity Project/Temp/
New Unity Project/obj/