
*.ide
NGUI_Endless_Demo/.vs/NGUI_Endless_Demo/v15/Server/sqlite3/storage.ide
NGUI_Endless_Demo/.vs/NGUI_Endless_Demo/v15/Server/sqlite3/storage.ide-shm
NGUI_Endless_Demo/.vs/NGUI_Endless_Demo/v15/Server/sqlite3/storage.ide-wal
